*.o
*.dsk
test
tinyFSDemo
libDiskTest 
basicDiskTest 
runBasicDiskTest
basicTinyFSTest 
runBasicTinyFSTest 
tinyFSTest
timeStampTest
testSydneyDisk
basicDisk
basicFS
tinyFSDisk
demo
consistencyCheckTest
timeStampTest